<div class="jumbotron">
  <div class="row">

    <div class="col-lg-4 col-md-3 col-sm-6 col-6 offset-3 offset-sm-3 offset-md-0 mb-4">
      <div class="text-center">
        <p class="text-center">	&nbsp;</p>
          <%= image_tag("fotofront.jpg", class: "img-fluid rounded rounded mx-auto d-block") %>
        <br>
        <br>
        <p>
          <b>
            Philipp Blum
          </b>
        </p>
    </div>
    </div>
    <div class="col-lg-8 col-md-9 col-sm-12 text-justify">
      <p class="text-center"><%= sanitize @post.title %></p>
      <div class="text-justify changeh">
        <%= sanitize @post.text, attributes: %w(href target) %>
      </div>

      <% if user_signed_in? && current_user.is_admin? %>
          <%= link_to('Edit', edit_post_path(@post), class: 'btn btn-primary' ) %>
      <% end %>
    </div>
    </div>

  <hr/>
  <div class="row">
    <div class="col-sm-6 col-12">
      <p class="text-center">	&nbsp;</p>
      <%= image_tag("children.jpg", class: "img-fluid rounded rounded mx-auto d-block") %>
      <br>
    </div>
    <div class="col-sm-6 col-12">
      <p class="text-center">	&nbsp;</p>
      <%= image_tag("foto.jpg", class: "img-fluid rounded rounded mx-auto d-block") %>
      <br>
    </div>
  </div>

</div>