<%= form_tag(pdfs_path, method: "get", remote: true, class: "form-group") do %>
    <%= text_field_tag(:search, nil, placeholder: "Enter name of PDF", autocomplete: :off, class: "form-control") %>
    <%= submit_tag("Search", id: "triggersearch", class: "invisible") %>
<% end %>


    <div id="pdfresults">
      <%= render "pdfs/#{partial}" %>
    </div>

  <div class="invisible" id="partial"><%= partial %></div>

<script>
    $(document).ready(function(){

        addclipboard();

        $( "#search" ).keyup(function() {
            $( "#pdfresults" ).html( "<div class=\"mx-auto loader\"></div>" );

            $.ajax({
                method: "GET",
                url: "/renderpdfresults",
                data: { search: $( "#search" ).val(), partial:  $( "#partial" ).text() }
            }).done(function(result) {
                $("#pdfresults").html(result);
            });



        });

    });
</script>