<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= form_with(model: post, local: true) do |form| %>
        <% if post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= form.label :title %>
          <br>
          <%= form.text_field :title, id: :post_title %>
        </div>

        <div class="field">
          <%= form.label :text %>
          <br>
          <%= form.text_area :text, id: :post_text, rows: "30", style: 'width:100%;' %>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#exampleModalCenter">
          Get PDF-Url
        </button>


        <div class="actions">
          <%= form.submit 'Save', class: 'btn btn-primary' %>
        </div>
    <% end %>


  </div>

  <div class="col-md-6 col-sm-12">
    <h3 class="text-center">
      Vorschau
    </h3>
    <div class="jumbotron text-justify">

      <h1 class="text-center" id="preview_title">

      </h1>

      <div id="preview_text">

      </div>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= render 'pdfs/pdfsearchform', partial: "pdfresultsoutside" %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<script>


    $(document).ready(function() {

        addclipboard();

        var starttitle = $( "#post_title" ).val();
        $( "#preview_title" ).html( starttitle );

        var starttext = $( "#post_text" ).text();
        $( "#preview_text" ).html( starttext );

        $( "#post_title" ).keyup(function() {
            var newstr = $( "#post_title" ).val();
            $( "#preview_title" ).html( newstr );
        });

        $( "#post_text" ).keyup(function() {
            var newstr = $( "#post_text" ).val();
            $( "#preview_text" ).html( newstr );
        });



    });

</script>