<!DOCTYPE html>
<html>
  <head>
    <title>Philippblum</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <%= link_to root_path do %>
        <div class="navbar-brand d-inline">Philipp Blum</div>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Research", research_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Talks", talks_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Teaching", teaching_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", services_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Workshops", workshops_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Non-Academic Stuff", nonacademicstuff_path, class:"nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">

        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "PDFs", pdfs_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Videos", videos_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"nav-link") %>
            </li>
        <% else %>
            <li class="nav-item">
              <%#= link_to('Login', new_user_session_path, class:"nav-link")  %>
            </li>
        <% end %>
        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to('Edit registration', edit_user_registration_path, class:"nav-link") %>
            </li>
        <% else %>
            <li class="nav-item">
              <%#= link_to('Register', new_user_registration_path, class:"nav-link")  %>
            </li>
        <% end %>

      </ul>
    </div>
  </nav>


  <div class="container">

    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>

    <% if alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
    <% end %>

      <%= yield %>
    </div>

  </body>
</html>
